section {
    background: #1e1823;
    color: #fff;
}

section h3 {
    margin-bottom: 24px;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}